autom4te.cache
build
config.log
config.status
Makefile
.DS_Store
!/regression/Makefile
build-binutils-newlib/
build-gcc-newlib-stage1/
build-gcc-newlib-stage2/
build-gdb-newlib/
build-newlib-nano/
build-newlib/
install-newlib-nano/
riscv-binutils/
riscv-gcc/
riscv-gdb/
riscv-glibc/
riscv-newlib/
stamps/
